{erl_opts, [debug_info, {parse_transform, lager_transform}]}.

{deps, [{uuid, "1.5.1", {pkg, uuid_erl}},
        {elli_chatterbox, {git, "https://github.com/tsloughter/elli_chatterbox.git", {branch, "master"}}},
        {emagick,
         {git, "https://github.com/kivra/emagick.git", {branch, "master"}}},
        {qsp,
         {git, "https://github.com/artemeff/qsp.git", {branch, "master"}}}]}.

{relx, [{release, { chatterbox_tiles, "0.1.0" },
         [chatterbox_tiles,
          sasl]},

        {sys_config, "./config/sys.config"},
        {vm_args, "./config/vm.args"},

        {dev_mode, true},
        {include_erts, false},

        {extended_start_script, true},

        {overlay,[{template,"config/sys.config","sys.config"},
                  {copy,"config/localhost.crt","."},
                  {copy,"config/localhost.key","."}]}]}.

{profiles, [{prod, [{relx, [{dev_mode, false},
                            {include_erts, true}]}]
            }]
}.
